:root {
  --spacing-space-2px: 2px;
  --spacing-space-4px: 4px;
  --spacing-space-8px: 8px;
  --spacing-space-12px: 12px;
  --spacing-space-16px: 16px;
  --spacing-space-20px: 20px;
  --spacing-space-24px: 24px;
  --spacing-space-28px: 28px;
  --spacing-space-32px: 32px;
  --spacing-space-40px: 40px;
  --spacing-space-48px: 48px;
  --spacing-space-64px: 64px;
  --spacing-space-80px: 0px;
  --colors-magenta900: #50003F;
  --colors-magenta800: #891869;
  --colors-magenta700: #A91A90;
  --colors-magenta600: #CA26A5;
  --colors-magenta500: #E142BC;
  --colors-magenta400: #F877D2;
  --colors-magenta300: #FFACE5;
  --colors-magenta200: #FFCEF2;
  --colors-magenta100: #FEDFF3;
  --colors-magenta50: #FEEFF9;
  --colors-purple900: #3A1659;
  --colors-purple800: #633495;
  --colors-purple700: #7C3EC3;
  --colors-purple600: #944DE7;
  --colors-purple500: #A964F7;
  --colors-purple400: #C490F9;
  --colors-purple300: #DDB9FF;
  --colors-purple200: #EBD5FF;
  --colors-purple100: #F2E3FF;
  --colors-purple50: #F9F1FF;
  --colors-blue900: #022255;
  --colors-blue800: #123E92;
  --colors-blue700: #1153C0;
  --colors-blue600: #266EF1;
  --colors-blue500: #068BEE;
  --colors-blue400: #6DAAFB;
  --colors-blue300: #A9C9FF;
  --colors-blue200: #CDDEFF;
  --colors-blue100: #DEE9FE;
  --colors-blue50: #EFF4FE;
  --colors-teal900: #002D33;
  --colors-teal800: #1A535A;
  --colors-teal700: #016974;
  --colors-teal600: #007F8C;
  --colors-teal500: #0095A4;
  --colors-teal400: #01B8CA;
  --colors-teal300: #77D5E3;
  --colors-teal200: #B0E7EF;
  --colors-teal100: #CDEEF3;
  --colors-teal50: #E2F8FB;
  --colors-green900: #002F14;
  --colors-green800: #0D572D;
  --colors-green700: #166C3B;
  --colors-green600: #0E8345;
  --colors-green500: #009A51;
  --colors-green400: #06C167;
  --colors-green300: #7FD99A;
  --colors-green200: #B1EAC2;
  --colors-green100: #D3EFDA;
  --colors-green50: #EAF6ED;
  --colors-lime900: #1B2D00;
  --colors-lime800: #365310;
  --colors-lime700: #3F6900;
  --colors-lime600: #4F7F06;
  --colors-lime500: #5B9500;
  --colors-lime400: #77B71C;
  --colors-lime300: #A6D467;
  --colors-lime200: #CAE6A0;
  --colors-lime100: #DEEEC6;
  --colors-lime50: #EEF6E3;
  --colors-yellow900: #392300;
  --colors-yellow800: #6B4100;
  --colors-yellow700: #845201;
  --colors-yellow600: #9F6402;
  --colors-yellow500: #B97502;
  --colors-yellow400: #D79900;
  --colors-yellow300: #F6BC2F;
  --colors-yellow200: #FFD688;
  --colors-yellow100: #FBE5B6;
  --colors-yellow50: #FDF2DC;
  --colors-amber900: #3E2000;
  --colors-amber800: #6B4100;
  --colors-amber700: #904A07;
  --colors-amber600: #A95F03;
  --colors-amber500: #C46E00;
  --colors-amber400: #DF9500;
  --colors-amber300: #FFB749;
  --colors-amber200: #FFC67C;
  --colors-amber100: #FFE4B7;
  --colors-amber50: #FFF1E1;
  --colors-orange900: #461A00;
  --colors-orange800: #823006;
  --colors-orange700: #A33B04;
  --colors-orange600: #C54600;
  --colors-orange500: #E65300;
  --colors-orange400: #FC823A;
  --colors-orange300: #FFB48C;
  --colors-orange200: #FFD3BC;
  --colors-orange100: #FEE2D4;
  --colors-orange50: #FFF0E9;
  --colors-red900: #520810;
  --colors-red800: #950F22;
  --colors-red700: #BB032A;
  --colors-red600: #DE1135;
  --colors-red500: #F83446;
  --colors-red400: #FC7F79;
  --colors-red300: #FFB2AB;
  --colors-red200: #FFD2CD;
  --colors-red100: #FFE1DE;
  --colors-red50: #FFF0EE;
  --colors-black: #000000;
  --colors-gray950: #0D0D0D;
  --colors-gray900: #282828;
  --colors-gray800: #4B4B4B;
  --colors-gray700: #5E5E5E;
  --colors-gray600: #727272;
  --colors-gray500: #868686;
  --colors-gray400: #A6A6A6;
  --colors-gray300: #BBBBBB;
  --colors-gray200: #DDDDDD;
  --colors-gray100: #E8E8E8;
  --colors-gray50: #F3F3F3;
  --colors-cool-gray900: #141519;
  --colors-cool-gray800: #202229;
  --colors-cool-gray700: #2C2F3A;
  --colors-cool-gray600: #464D60;
  --colors-cool-gray500: #636B7F;
  --colors-cool-gray400: #A1A9BA;
  --colors-cool-gray300: #D4D9E2;
  --colors-cool-gray200: #EAEDF3;
  --colors-cool-gray100: #F3F5F9;
  --colors-cool-gray50: #F9F9FC;
  --colors-white: #FFFFFF;
  --colors-dark-opacity-100: rgba(0, 0, 0, 0.08);
  --colors-dark-opacity-200: rgba(0, 0, 0, 0.12);
  --colors-dark-opacity-300: rgba(0, 0, 0, 0.16);
  --colors-dark-opacity-400: rgba(0, 0, 0, 0.2);
  --colors-dark-opacity-500: rgba(0, 0, 0, 0.24);
  --colors-dark-opacity-600: rgba(0, 0, 0, 0.32);
  --colors-light-opacity-100: rgba(255, 255, 255, 0.08);
  --colors-light-opacity-200: rgba(255, 255, 255, 0.12);
  --colors-light-opacity-300: rgba(255, 255, 255, 0.16);
  --colors-light-opacity-400: rgba(255, 255, 255, 0.2);
  --colors-light-opacity-500: rgba(255, 255, 255, 0.24);
  --colors-light-opacity-600: rgba(255, 255, 255, 0.32);
}
